.inline{
    align-items: center;
    justify-items: center;
    margin: 20px;
}

.center{
    margin-top: 50px;
    text-align: center;
}

.sens_amb{
    justify-items: center;
}

.circle-dim{
    width: 200px;
    margin: auto;

}

.myTitle{
    margin-top: 30px;
    margin-bottom: 50px;
}

.myImg-fluid{
    width: 100%;
    height: auto;
}