.myCenter{
    margin-top: 50px;
    text-align: center;
}

.circle-dim{
    width: 200px;
    margin: auto;

}

.myTitle{
    margin-top: 30px;
    margin-bottom: 50px;
}

.myImg-fluid{
    width: 100%;
    height: auto;
}